/* Flex header */
.header {
    display: flex;
}

/* header_rogo */
.header .header_rogo {
    width: var(--mini-length);
    height: var(--short-height);
    background-color: #d5ff72;
}

.header .header_rogo h1 {
    text-align: center;
}

/* header_nav */
.header .header_nav {
    width: 62.5rem;
    height: var(--short-height);
    background-color: #c3ed60;
    position: relative;
}

.header .header_nav .header_nav-menu {
    display: flex;
    position: absolute;
    top: 3.4rem;
    right: 0;
}

.header .header_nav .header_nav-menu > li {
    text-align: center;
    vertical-align: middle;
    width: 6rem;
    padding: 0.25rem;
    position: relative;
}

/* memu w 24rem */

.header .header_nav .header_nav-menu > li:hover {
    background-color: #faed7d;
}

/* header_sub-menu */
.header_nav-menu .header_sub-menu {
    position: absolute;
    left: 0;
    padding: 0;
    background-color: #9fc93c;
}

.header_nav-menu .header_sub-menu > li {
    width: 6rem;
    padding: 0.25rem;
}

/* 하이라이트 문제 해결하기. */
