/* 반응형 기준
1.1200 px = 75rem
2. 768 px = 48rem
3. 480 px = 30rem
4. >480 px = >30rem
*/

/* body */
body {
    margin: 0;
}

#wrap {
    width: 75rem;
    margin: 0 auto;
}
/* 
! 실수 !
margin: 0 auto로 가운데 정렬을 하기 위해서는 width 값이 꼭 필요함.
*/

/* main */
#main {
    width: 75rem;
    height: 31.25rem;
    background-color: #b2ccff;
}

/* 이미지 슬라이드 */
#main .main_slide {
    width: 75rem;
    height: 18.75rem;
    background-color: #b5b2ff;
}

/* contents */
#main .main_container {
    width: 75rem;
    height: 12.5rem;
    background-color: #d1b2ff;
    display: flex;
}

.main_container .main_container-content {
    width: 25rem;
    height: 12.5rem;
}

.main_container .main_container-content:first-child {
    background-color: #b2ccff;
}

.main_container .main_container-content:nth-child(2) {
    background-color: #d1b2ff;
}

.main_container .main_container-content:last-child {
    background-color: #b2ccff;
}

/* footer */
#footer {
    width: 75rem;
    height: 6.25rem;
    background-color: #6799ff;
}
