<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="layout1.css" />
        <title>Document</title>
    </head>
    <body>
        <div id="wrap">
            <header class="header">
                <div class="header_rogo"></div>
                <nav class="header_nav">
                    <div class="nav_menu">
                        <ul class="nav_main-menu">
                            <li>
                                <a href="#">menu1</a>
                                <lu class="nav_sub-menu">
                                    <li>
                                        <a href="#">sub menu1</a>
                                    </li>
                                    <li>
                                        <a href="#">sub menu2</a>
                                    </li>
                                    <li>
                                        <a href="#">sub menu3</a>
                                    </li>
                                    <li>
                                        <a href="#">sub menu4</a>
                                    </li>
                                </lu>
                            </li>
                            <li>
                                <a href="#">menu2</a>
                                <lu class="nav_sub-menu">
                                    <li>
                                        <a href="#">sub menu1</a>
                                    </li>
                                    <li>
                                        <a href="#">sub menu2</a>
                                    </li>
                                    <li>
                                        <a href="#">sub menu3</a>
                                    </li>
                                    <li>
                                        <a href="#">sub menu4</a>
                                    </li>
                                </lu>
                            </li>
                            <li>
                                <a href="#">menu3</a>
                                <lu class="nav_sub-menu">
                                    <li>
                                        <a href="#">sub menu1</a>
                                    </li>
                                    <li>
                                        <a href="#">sub menu2</a>
                                    </li>
                                    <li>
                                        <a href="#">sub menu3</a>
                                    </li>
                                    <li>
                                        <a href="#">sub menu4</a>
                                    </li>
                                </lu>
                            </li>
                            <li>
                                <a href="#">menu4</a>
                                <lu class="nav_sub-menu">
                                    <li>
                                        <a href="#">sub menu1</a>
                                    </li>
                                    <li>
                                        <a href="#">sub menu2</a>
                                    </li>
                                    <li>
                                        <a href="#">sub menu3</a>
                                    </li>
                                    <li>
                                        <a href="#">sub menu4</a>
                                    </li>
                                </lu>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <main id="main">
                <div class="main_slide"></div>
                <div class="main_contents">
                    <section></section>
                    <section></section>
                    <section></section>
                </div>
            </main>
            <footer class="footer">
                <div class="footer_rogo"></div>
                <section class="footer_copy"></section>
                <section class="footer_sns"></section>
            </footer>
        </div>
    </body>
</html>
