/* 1.input 숨기기 */
.section input[id*="slide"] {
    display: none;
}

/* 2. 슬라이드 영역 잡기 */
.section .slidewrap {
    max-width: 1200px; /* 최대 너비 */
    margin: 0 auto; /* 가운데 정렬 */
    overflow: hidden; /* 영역 밖의 것은 숨기기 */
}

/* 3. 슬라이드 이미지 가로로 정렬 */
.section .slidelist {
    white-space: nowrap; /* 부모영역을 뚫고 가로로 정렬 */
    /* font-size: 0; */
    list-style: none;
}

.section .slidelist > li {
    display: inline-block;
    /* vertical-align: middle; */
}
