body {
    margin: 0;
}

#wrap {
}

/* header 영역 */
.header {
    display: flex;
    background-color: #b2ccff;
    height: 6.25rem;
    position: relative;
}

/* header_nav: main */
.header_nav {
    text-align: center;
}

.header_nav-main {
    position: absolute;
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    top: 4.75rem;
    left: 68.95rem;
}

.header_nav-main li {
    width: 6rem;
    height: 1.5rem;
    list-style: none;
}

.header_nav-main > li:hover {
    background-color: #d3ffff;
}

.header_nav-main > li:hover > a {
    color: gray;
}

.header_nav-main li a {
    text-decoration: none;
    color: azure;
}

/* toggle js: sub */
.headerToggle {
    opacity: 0;
    visibility: hidden;
}

/* header_nav: sub */
.header_nav-sub {
    position: absolute;
    top: 1.5rem;
    margin: 0;
    padding: 0;
}

.header_nav-sub li {
}

.header_nav-sub li:hover {
    background-color: gray;
}

.header_nav-sub li:hover a {
    color: #d3ffff;
}

.header_nav-sub li a {
}

/* contents 영역 */
.contents {
    display: flex;
}

/* contents in aside menu 영역 */

.aside_nav {
    background-color: #6799ff;
    width: 12.5rem;
    height: 100vh;
}

/* contents in main - image side 영역 */
#main_wrap {
    background-color: #4374d9;
    width: 69.95rem;
    height: 100vh;
}

/* contents in aside toggle 영역 */
.aside_toggle {
    background-color: #6799ff;
    width: 12.5rem;
    height: 100vh;
}
