/* reset */
* {
    margin: 0 auto;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: darkslategray;
}

/* header */
#main_wrap {
}

#main_wrap .header {
    display: flex;
}

#main_wrap .header .rogo {
    background-color: #b5b2ff;
    width: 20vw;
    height: 12.5rem;
}

#main_wrap .header .rogo h1 {
    font-size: 5rem;
    text-align: center;
}

#main_wrap .header .header_nav {
    background-color: #b2ccff;
    width: 80vw;
    height: 12.5rem;
    position: relative;
}

/* menu */
#menu {
    font-weight: 600;
    background-color: gray;
    text-align: center;
    width: 43.75rem;
    height: 3.125rem;
    line-height: 3.125rem;
    position: absolute;
    top: 9.375rem;
    left: 33.05rem;
}

#menu ul {
    padding: 0;
}

#menu .main_menu {
    display: flex;
}

#menu .main_menu li {
    height: 3.125rem;
    width: 8.75rem;
}

#menu .main_menu li:hover {
    background-color: burlywood;
}

#menu .main_menu .sub_menu {
    width: 8.75rem;
    background-color: #d5d5d5;
    /* display: none; : transition이 안먹음 */
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

/* #menu .main_menu li .sub_menu {
    transition: display 1s ease-in-out;
} */

#menu .main_menu li:hover .sub_menu {
    transform: translateY(0rem);
    opacity: 1;
    visibility: visible;
}

#menu .main_menu .sub_menu li:hover {
    background-color: aquamarine;
}

/* @keyframes dropDown {
    0% {

    }
} */

/* 애니메이션 이용해보기. */
